.default-color0.chart-series-line { -fx-stroke: transparent; }
.default-color1.chart-series-line { -fx-stroke: transparent; }
.default-color2.chart-series-line { -fx-stroke: transparent; }
.default-color3.chart-series-line { -fx-stroke: transparent; }
.default-color4.chart-series-line { -fx-stroke: red; }

.default-color4.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}

.default-color4.chart-legend-item-symbol{
    -fx-background-color: red;
}